body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HEADER */
.header {
  background: #0f172a;
  padding: 15px 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/tri.png");
  background-size: cover;
  background-position: center;
}

/* HERO */
.hero {
  color: white;
  padding: 90px 0;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  font-size: 18px;
}

/* CONTACT FORM */
.contact-section {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.contact-form {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
}

.contact-form h3 {
  margin-bottom: 15px;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #1d4ed8;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.social-icons a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.social-icons a,
.social-icons a:visited {
  color: inherit;
  text-decoration: none;
}
